{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- TOP -->
<div class="feature-photo">
	<!-- cover picture -->
	<figure><img src="{% static 'images/resources/timeline-1.jpg' %}" alt="cover-image"></figure>

	<div class="container p-3 bg-white rounded shadow-lg">
		<div class="">
			<div class="row justify-content-between align-items-center">
				<div class="col-4 col-sm-3 col-md-2 d-flex justify-content-md-start">
					<!-- profile picture -->
					<div class="user-avatar w-24 h-24">
						<figure>
							<img src="{{ user_profile.profile_img.url }}" alt="profile-image">
						</figure>
					</div>
				</div>

				<div class="col-8 col-sm-9 col-md-10">
					<div class="container">
						<!-- form -->
						<form action="/follow/" method="POST">
							{% csrf_token %}

							<div class="row d-flex justify-content-between align-items-center text-center">
								<div class="">
									<!-- numbers -->
									{% if user_post_length == 0 or user_post_length == 1 %}
										<span class="text-xl"><b>{{ user_post_length }} publication</b></span>
									{% else %}
										<span class="text-xl"><b>{{ user_post_length }} publications</b></span>
									{% endif %}
								</div>
								<div class="3">
									{% if user_followers == 0 or user_followers == 1 %}
										<span class="text-xl"><b>{{ user_followers }} follower</b></span>
									{% else %}
										<span class="text-xl"><b>{{ user_followers }} followers</b></span>
									{% endif %}
								</div>
								<div class="">
									{% if user_following == 0 or user_following == 1 %}
										<span class="text-xl"><b>{{ user_following }} suivi(e)</b></span>
									{% else %}
										<span class="text-xl"><b>{{ user_following }} suivi(e)s</b></span>
									{% endif %}
								</div>
								<div class="">
									<!-- follow / unfollow -->
									<input type="hidden" name="follower" value="{{ user.username }}">
									<input type="hidden" name="user" value="{{ user_object.username }}">

									{% if user_object.username == current_user.username %}
										<a href="{% url 'settings' %}">
											<button class="btn bg-gradient-to-br from-pink-500 to-red-400 text-white">Paramètres</button>
										</a>
									{% else %}
										<a data-ripple="" class="bg-gradient-to-br from-pink-500 to-red-400">
											<button type="submit" class="btn bg-gradient-to-br from-pink-500 to-red-400 text-white text-lg md:text-2xl">{{ button_text }}</button>
										</a>
									{% endif %}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-gradient-to-br from-pink-500 to-red-400 rounded mt-3">
			<div class="row d-flex justify-content-around align-items-center text-center p-1">
				<!-- profile name -->
				<div class="user-info">
					<p class="text-white text-lg md:text-2xl">@{{ user_profile.user.username }}</p>
				</div>
				<p class="text-white d-none d-md-block">|</p>
				<div class="user-info">
					<p class="text-white pl-4 md:pl-0">{{ user_profile.bio }}</p>
				</div>
				<p class="text-white d-none d-md-block">|</p>
				<div class="user-info">
					<p class="text-white">{{ user_profile.location }}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- POSTS -->
<div class="container mt-3 mb-5 bg-white rounded">
		<!-- posts -->
	{% if user_posts %}
		<div class="row mb-5 py-2">
			{% for post in user_posts %}
				<div class="col-12 col-md-4 d-flex align-items-center justify-content-center my-1">
					<div class="border border-dark">
						<a class="" href="{{ post.image.url }}" target="_blank">
							<img src="{{ post.image.url }}" alt="post-image">
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="mx-auto mt-5">
			<h2 class="text-3xl font-bold text-center">Vous n'avez pas encore de publication !</h2>
			<p class="text-center text-gray-600 mt-3">En cliquant sur <b>Créer</b> vous pourrez faire votre première publication.</p>
		</div>
	{% endif %}
</div>

{% endblock %}