{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="mt-3 mt-md-5">
        <div>
            <h1 class="text-2xl px-2 px-md-0">Résultats de la recherche</h1>
        </div>

        <div class="mt-3 px-2 px-md-0">
            {% for users in username_profile_list %}
                <div class="container card">
                    <div class="row p-2">
                        <div class="col-12 col-md-4">
                            <a class="" href="/profile/{{ users.user }}">
                                <img class="h-32" src="{{ users.profile_img.url }}" alt="profile-image">
                            </a>
                        </div>

                        <div class="col-12 col-md-8 my-auto">
                            <h4 class="text-2xl"><a href="/profile/{{ users.user }}"><b>@{{ users.user }}</b></a></h4>
                            <p class="text-base mt-2"><b>Localisation</b> : {{ users.location }}</p>
                            <p class="text-base mt-2"><b>Bio</b> : {{ users.bio }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}