{% extends "base.html" %}

{% block content %}

<!-- CONTENT-->
<div class="container mt-3 mt-md-5">
    <div class="mx-auto" style="max-width: 500px;">
        <h1 class="lg:text-3xl text-xl font-semibold mb-6">Inscription</h1>

        <!-- error messages -->
        <div>
            {% for message in messages %}
                <h5 style="color: red;">{{ message }}</h5>
            {% endfor %}
        </div>

        <!-- signup form -->
        <form action="" method="POST">
            {% csrf_token %}

            <div class="mb-2">
                {{ form.username }}
            </div>
            <div class="mb-2">
                {{ form.email }}
            </div>
            <div class="mb-2">
                {{ form.password1 }}
            </div>
            <div class="mb-2">
                {{ form.password2 }}
            </div>
            <div class="mb-2">
                {{ form.captcha }}
            </div>

            <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Inscription</button>

            <div class="text-center mt-3 space-x-2">
                <p class="text-base text-gray-600">Tu as déjà un compte ? <a href="{% url 'signin' %}"><b>Connexion</b></a></p>
            </div>
        </form>
    </div>
    <br>
</div>

{% endblock %}