{% extends "base.html" %}

{% block content %}

<!-- CONTENT-->
<div class="container mt-3 mt-md-5">
    <div class="mx-auto" style="max-width: 400px;">
        <h1 class="lg:text-3xl text-xl font-semibold mb-6">Connexion</h1>

        <!-- error messages -->
        <div>
            {% for message in messages %}
                <h5 style="color: red;">{{ message }}</h5>
            {% endfor %}
        </div>

        <!-- signin form -->
        <form action="" method="POST">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Nom d'utilisateur" class="mb-2" style="border: 1px solid #d3d5d8 !important;">
            <input type="password" name="password" placeholder="Mot de passe" class="mb-2" style="border: 1px solid #d3d5d8 !important;">
            <button type="submit" class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Connexion</button>

            <div class="text-center mt-3 space-x-2">
                <p class="text-base text-gray-600">Tu n'as pas encore de compte ? <a href="{% url 'signup' %}" class=""><b>Inscription</b></a></p>
            </div>
        </form>
    </div>
    <br>
</div>

{% endblock %}